eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 8765
spring:
  application:
    name: service-hi
#  datasource:
#      driver-class-name: com.mysql.jdbc.Driver
#      url: jdbc:mysql://172.16.10.44:3306/spring-cloud-auth?useUnicode=true&characterEncoding=utf8&characterSetResults=utf8
#      username: dev
#      password: NHdev2015
#
#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true

security:
  oauth2:
    #验证所需要去的地方
    resource:
      user-info-uri: http://localhost:8111/users/current
    #配置的为OAyth2Client中的配置
    client:
      id: client_2
      client-secret: 123456
      access-token-uri: http://localhost:8111/oauth/token
      grant-type: client_credentials,password
      scope: server



